h1 {
    font-size: 2em;
}

section {
    vertical-align: top;
}

label {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
}

textarea {
    width: 95%;
    max-width: 95%;
    height: 400px;
    resize: none;
    font-family: "Courier New", serif;
}

#hidden-items {
    display: none;
}

#game-screen {
    position: relative;
    display: inline-block;
    width: 69%;
}

#editor {
    display: inline-block;
    width: 30%;
    background-color: #bdbdbf;
    border-right: 1px solid #8c8c93;
    text-align: center;
}

.sb-slidebar {
    background-color: #bdbdbf;
}

.sb-slidebar > div {
    margin: 0 20px 0 20px;
}

.sb-slidebar > h2 {
    margin-left: 10px;
}

#add-element {
    width: 100%;
    height: 50px;
}

#add-element:hover {
    cursor: pointer;
}

#play {
    text-align: center;
}

#play-button, #stop-button {
    font-size: 2em;
    padding: 10px;
}

.platform {
    height: 20px;
    width: 80px;
    background-color: black;
    color: white;
    position: absolute;
}

#character {
    background-color: blue;
    height: 50px;
    width: 50px;
    position: absolute;
}

#stop-button {
    display: none;
}

.spring {
    height: 40px;
    background-image: url(../img/spring-platform.png);
    background-color: transparent;
}

#goal {
    background-color: green;
}

.trap {
    background-color: red;
}

.code {
    font-family: "Courier New", sans-serif;
}